ul {
    list-style-type: none;
    width: 250px
}

body {
    padding: 0 50px;
}


.btn-primary {
    width: 167px;
    color: #fff;
    background-color: #1b1e21;
    border-color: #f8f9fa;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: red;
    border-color: #f8f9fa;
}


.container {
    margin-top: 10%;

}

.col {
    margin-top: 150px
}

.change-image {
    width: 118px;
    height: 270px;
    margin: 7px;
    border-radius: 43px;
}

.changing-image {

    width: 297px;
    height: 144px;
    margin-left: 103px;
    margin-top: 28px;
    border-radius: 25px;
}

.desktop-screen {
    background-image: url(../israelHayom/./assets/desktop-desktop.png);
    background-repeat: no-repeat;
    background-size: 450px;
}

@media (min-width: 600px) {
    .mobile-dropdown {
        display: none;
    }
    .dropdown show{
        display: none;
    }
    .desktop-dropdown {
        display: none;
    }
    .dropdown-menu{
        display: none;
    }
}


@media (max-width: 600px) {
    .mobile-dropdown {
        margin-left: 245px
    }

    .mobile-buttons {
        display: none;
    }

    .desktop-buttons {
        display: none;
    }

    .col {
        margin-top: 0px;
    }

    .desktop-screen {
        transform: scale(0.7);
    }
}
